.boton{
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.alternar{
    background-color: lightblue;
}

.alternar.activo{
    background-color: blue;
}