.caja {
    width: 400px;
    height: 250px;
    background-color: aqua;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transition: all 0.5s ease;
    cursor: pointer;
    animation: rectangulo 2s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    /* fill mode fowards es para que termine con la última animación */
    transform: rotate(25deg);
}




@keyframes rectangulo {
    15% {
        background-color: red;
        transform: scale(0.9) rotate(25deg);
    }

    35% {
        background-color: yellow;
        transform: scale(1.1) rotate(25deg);
    }

    50% {
        background-color: orange;
        transform: scale(0.9) rotate(25deg);
    }

    65% {
        background-color: blue;
        transform: scale(1.1) rotate(25deg);
    }

    85% {
        background-color: blueviolet;
        transform: scale(0.9) rotate(25deg);
    }

    100% {
        background-color: green;
        transform: scale(1.1);
    }
}

