/* font-family: 'Open Sans', sans-serif;*/

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: rgb(46, 100, 162);
}

header h1{
    color: white;
    font-style: italic;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: rgb(110, 169, 237);
}

nav ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
    
}