.contenedor{
    background-color: grey;
    display: inline-flex;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    /*acá usar uno solo de estos. puse todos para que me queden*/
    
}

.item{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 25px;
}