.contenedor{
    background-color: gray;
    width: 60%;
    margin: 0 auto;
    height: 600px;
    position: relative;
}

.verde{
    background-color: lightgreen;
    width: 90%;
    height: 150px;
    margin: 0 auto 20px;
    border: 1px solid black;
    box-shadow: 5px 0px 10px black;
    position: absolute; /*el posicionamiento absoluto se mide respecto a un elemento que tenga posicionamiento relativo. Por consiguiente el elemento con posicionamiento relativo por nacimiento es la etiqueta body*/
    top: 80px;
    left: 0;
    
}

.celeste{
    background-color: lightblue;
    width: 90%;
    height: 150px;
    margin: 0 auto 20px;
}

.amarillo{
    background-color: rgb(226, 226, 88);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px;
}